//tablets and smaller

@media (max-width: 800px) {
  #header-home {
    height: 30rem;
    .header-content {
      padding-top: 5rem;
    }
  }
}

//smartphone

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
    }
  }
  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      background: $bg-image no-repeat 20% 30% / cover;
      .header-content {
        display: none;
      }
    }
    &-inner {
      height: 10rem;
    }
  }

  //stack grid columns

  #home-a .special,
  #home-b .stats,
  #home-c .process,
  #about-a .about-info,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .special div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  //footer
  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }

  //about

  #about {
    &-a {
      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'aw1'
          'aw2'
          'aw3';
      }
    }
    &-c {
      .about-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
    }
  }
  #contact {
    &-a {
      .text-feilds {
        grid-template-areas:
          'name'
          'email'
          'subject'
          'phone'
          'message';
        grid-gap: 0.9rem;
      }
    }
    &-c {
      h1 {
        text-align: center;

        font-size: 2rem;
      }
    }
  }
  .lead {
    margin-bottom: 1rem;
  }
}

//landscape mode

@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}
